<section *ngIf="props.isLoading && !props.errorMessage">
    Retrieving data...
</section>
<section *ngIf="props.errorMessage">
    {{props.errorMessage}}
</section>
<section *ngIf="!props.isLoading && !props.errorMessage">
    <mat-card *ngFor="let job of jobs; last as last">
        <mat-card-header>
            <div mat-card-avatar class="job-card-header-image"></div>
            <mat-card-title>{{job.title}}</mat-card-title>
            <mat-card-subtitle>{{job.company}}</mat-card-subtitle>
            <mat-card-subtitle>{{job.location}}</mat-card-subtitle>
            <mat-card-subtitle>{{job.createdAt | date:'dd/MM/yyyy'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            {{job.description}}
        </mat-card-content>
        <mat-card-actions>
            <a mat-stroked-button color="primary" href="{{job.url}}" target="_blank">Apply</a>
        </mat-card-actions>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    </mat-card>
</section>